{% extends 'base.html.twig' %}

{% block title %}Motifs{% endblock %}

{% block body %}
    <h1>Motifs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motif.id }}</td>
            </tr>
            <tr>
                <th>Mot_libelle</th>
                <td>{{ motif.motLibelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('motifs_index') }}">back to list</a>

    <a href="{{ path('motifs_edit', {'id': motif.id}) }}">edit</a>

    {{ include('motifs/_delete_form.html.twig') }}
{% endblock %}
